<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765647459968-ufeumc8rbhd1r75d9nel3lsmuabvlrmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765647459968-ufeumc8rbhd1r75d9nel3lsmuabvlrmu</string>
	<key>API_KEY</key>
	<string>AIzaSyB4MbO3q186MonMt33nOh2q3bnDH7tzKDo</string>
	<key>GCM_SENDER_ID</key>
	<string>765647459968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.summithub.iris</string>
	<key>PROJECT_ID</key>
	<string>openiris-168dd</string>
	<key>STORAGE_BUCKET</key>
	<string>openiris-168dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765647459968:ios:9cf726e80289d8ab</string>
	<key>DATABASE_URL</key>
	<string>https://openiris-168dd.firebaseio.com</string>
</dict>
</plist>